*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 85vw;
    margin: 10px auto;
} 

/*Section1 Style*/
.section1-container{
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.myWrapper{
    width: 85%;
    display: flex;
}

.section1-container>*{
    flex: 1;
}

.section1-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.section1-container-right img{
    display: block;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    
}

.section1-container-left h1{
    color: white;
    font-size: 45px;
    font-weight: 800;
}

.section1-container-left p{
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

.section1-container-left .btn1{
    width: 120px;
    height: 30px;
    background-color: red;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.section1-container-left .btn1 i{
    color: white;
}


/*Section2 Style*/
.section2-container{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
    margin-top: 100px;

}

.section2-container-left{
    height: 340px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2-container-left-part a{
    text-decoration: none;
    color: black;
}

.section2-container-left-part{
   width: 200px;
   height: 40px;
   background-color: white;
   margin: 15px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   font-weight: 600;
   cursor: pointer;
}

.section2-container-left-part-active{
    background-color: red;
}

.section2-container-left-part-active a{
    color: white;
}

.section2-container-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.section2-container-right .card{
    height: 380px;
    border: 1px solid gray;
    border-radius: 10px;
}

.section2-container-right .card .card-img1 img{
    width: 100%;
}

.section2-container-right .card .card-btn{
    width: 150px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.section2-container-right .card .card-title{
    margin: 10px;
    cursor: pointer;
}

.card .card-img2{
    height: 30px;
    display: flex;
    margin: 10px;
}

.card-img2-num{
    margin-right: 30px;
    display: flex;
    cursor: pointer;
}

.card-img2-num img{
    margin: auto 0;
    margin-right: 10px;
}

.card-img2-num p{
    margin: auto 0;
}

.section2-hidden-part{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: none;
}

.section2-hidden-part .hidden-btn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

/*Section3 Style*/
.section3{
    background-color: rgb(22, 22, 22);
    height: 350px;
    margin-top: 30px;
}

.section3-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.section3-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.section3-part1-link1{
    margin: 20px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.section3-part2-link2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section3-part2-link2-box a{
    text-decoration: none;
    color: white;
}

.section3-part2-link2-box a img{
    width: 20px;
    height: 20px;
    display: block;
}

.section3-part2-link2-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}

.section3-part2-link2-box:hover a{
    transform: scale(1.5);
}

.section3-part2-link2-box:hover{
    background-color: white;
    transform: scale(1.3);
}


/* For Tablet */
@media (min-width: 601px) and (max-width: 991px){
    .section1-container-left{
        padding: 0 20px;
    }

    .section1-container-left h1{
        font-size: 30px;
        font-weight: 800;
    }

    .section1-container-left p{
        font-size: 12px;
        margin-top: 5px;
    }

    .section1-container-left .btn1{
        margin-top: 15px;
    }

    .section1-container-right img{
        width: 300px;
        height: 400px;
        margin: 0 auto;
        padding-top: 50px;
        
    }
    
    .section2-container{
        display: grid;
        grid-template-columns: auto;
    }

    .section2-container-left{
        height: 100px;
        background-color: white;
        border-radius: 0;
        display: flex;
        flex-direction: row;
    }

    .section2-container-left-part{
        width: 150px;
        height: 40px;
        background-color: white;
        margin: 15px;
        border: 1px solid gray;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
     }

     .section2-container-left-part-active{
        background-color: red;
    }
    
    .section2-container-left-part-active a{
        color: white;
    }
    
    .section2-container-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .section2-container-right .card{
        height: 400px;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .card-hide{
        display:none;
    }

    .section2-hidden-part{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .section3-part1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    
    .section3-part1-link1{
        margin: 10px;
        color: white;
        cursor: pointer;
    }

}


/* For Mobile */
@media (max-width: 600px){

    .section1-container{
        display: flex;
        flex-direction: column;
        height: 580px;
        background-color: rgb(22, 22, 22);
        margin-top: 20px;
        border-radius: 15px;
        position: relative;
    }

    .section1-container-left{
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 30px;
        padding: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .section1-container-left h1{
        color: white;
        font-size: 35px;
        font-weight: 800;
    }
    
    .section1-container-left p{
        color: white;
        font-size: 13px;
        margin-top: 5px;
    }

    .section1-container-right{
        position: absolute;
        bottom: 0;
    }

    .section1-container-right img{
        margin-top: 10px;
        display: block;
        width: 60%;
        height: 60%;
        margin: 0 auto;
        padding-top: 0px;
        
    }

    .section2-container{
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
        margin-top: 100px;
    }

    .section2-container-left{
        height: 340px;
        background-color: rgb(22, 22, 22);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section2-container-right{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }

    .section2-container-right .card{
        height: 400px;
        border: 1px solid gray;
        border-radius: 10px;
        margin: 20px;
    }

    .section2-container-right .card .card-img1 img{
        width: 100%;
        height: 200px;
    }

    .card-hide{
        display:none;
    }

    .section2-hidden-part{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .section3{
        background-color: rgb(22, 22, 22);
        height: 650px;
        margin-top: 30px;
    }
    
    .section3-part1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
    }

    .section3-part2-link2{
        margin-bottom: 20px;
    }
    
}
