*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 85%;
    margin:auto;
}

/*Section1 Style*/
.section1-container{
    display: flex;
    height: 450px;
    background-color: rgb(22, 22, 22);
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.section1-container-left{
    width: 50%;
    padding: 8%;
}

.section1-container-right{
    width: 50%;
}

.section1-container-right img{
    display: block;
    transform: scale(1.3);
    margin: 0 auto;
    padding-top: 52px;
    
}

.section1-container-left h1{
    color: white;
    font-size: 45px;
    font-weight: 800;
}

.section1-container-left p{
    color: white;
    font-size: 15px;
    
    margin-top: 5px;
}

.section1-container-left .btn1{
    width: 120px;
    height: 30px;
    background-color: red;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.section1-container-left .btn1 i{
    color: white;
}


/*Section2 Style*/
.section2-container{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
    margin-top: 100px;

}

.section2-container-left{
    height: 340px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2-container-left-part a{
    text-decoration: none;
    color: black;
}

.section2-container-left-part{
   width: 200px;
   height: 40px;
   background-color: white;
   margin: 15px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   font-weight: 600;
   cursor: pointer;
}

.section2-container-left-part-active{
    background-color: red;
}

.section2-container-left-part-active a{
    color: white;
}

.section2-container-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.section2-container-right .card{
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
}

.section2-container-right .card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-container-right .card .card-topper{
    display: flex;
}

.section2-container-right .card .card-img img{
    margin: 5px;
}

.section2-container-right .card .card-img-vs-img{
   margin: 10px;
}

.section2-container-right .card .card-title{
    margin: 10px;
    cursor: pointer;
}



/*Section3 Style*/
.section3{
    background-color: rgb(22, 22, 22);
    height: 300px;
    margin-top: 30px;
}

.section3-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.section3-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.section3-part1-link1{
    margin: 20px;
    color: white;
    cursor: pointer;
}